name: Publish preview to GitHub registry

# ==== NOTE: do not rename this yml file or the $GITHUB_RUN_NUMBER will be reset ====

on:
  push:
    branches:
      - master
    paths:
      - src/**
      - .github/workflows/**

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x
          source-url: https://nuget.pkg.github.com/destructurama/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Install dependencies
        working-directory: src
        run: dotnet restore
      - name: Build solution [Release]
        working-directory: src
        run: dotnet build --no-restore -c Release
      - name: Pack solution [Release]
        working-directory: src
        run: dotnet pack --no-build -c Release -o out
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Nuget packages
          path: |
            src/out/*
      - name: Publish Nuget packages to GitHub registry
        working-directory: src
        run: dotnet nuget push "out/*" -k ${{secrets.GITHUB_TOKEN}}
