name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v10
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue was marked as stale since it has not been active for a long time'
        stale-pr-message: 'This pull request was marked as stale since it has not been active for a long time'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        days-before-stale: 30
        days-before-close: 60
        exempt-issue-label: 'not so stale'
        exempt-pr-label: 'not so stale'
        operations-per-run: 30
